@import '~antd/dist/antd.css';

.h100 {
  height: calc(100vh - 64px);
}
.h100min {
  min-height: calc(100vh - 64px);
}
.textDotted {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activeUser {
  background-color: #e1e3e7;
}
