@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.h100 {
  height: calc(100vh - 64px);
}
.h100min {
  min-height: calc(100vh - 64px);
}
.textDotted {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activeUser {
  background-color: #e1e3e7;
}
.infoText {
  margin-right: '5px';
  margin-bottom: 0;
}
.rowInfo {
  display: flex;
  gap: 10px;
}
.infoInput {
  margin-right: '5px';
  margin-bottom: 0;
  flex-grow: 1;
}
.formInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.userList {
  border: 1px solid #e1e3e7;
  height: calc(100vh - 180px);
  overflow-y: scroll;
}
.buttonRow {
  display: flex;
  gap: 15px;
}
